*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    z-index: 10000;
    min-width: 90px;
}
#wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;   /*全体の中央寄せ*/
    padding: 0 10%;
  }
  #container {
    width: 100%;
    margin: 0 auto;   /*中央寄せ*/
    position: relative;
  }

  div {
      overflow: hidden;
  }

  .item img,video{
      width: 100%;
      transition: all 200ms 0s ease;
      vertical-align: bottom;
  }
    .item img:hover{
    transform: scale(1.02);
}
.item{
    width: 33.3%;
}
@media screen and (max-width:480px){
    .item{
        width: 50%;
    }   
}
