*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.anime{
    display: block;
}
.logo{
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    z-index: 10000;
    min-width: 90px;
}
#wrapper{
    margin: 0 10%;
}
.grid {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.grid-sizer,
.grid-item {
    width: 25%;
    overflow: hidden;
}
.grid-item-2x {
    width: 50%;
}
.grid-item-3x {
    width: 75%;
}

.grid-item a,
.grid-item-2x a,
.grid-item-3x a {
    /* dispplay:block; にしないと、隙間があいてしまったりするので */
    display: block;
}

.grid-item img,
.grid-item-2x img,
.grid-item-3x img,
video{
    /* dispplay:block; にしないと、隙間があいてしまったりするので */
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 200ms 0s ease;
}

  .grid-item img,.grid-item video:hover{
  transform: scale(1.02);
}

img:hover{
    transform: scale(1.05);
}

.loading{
    background-color: #1a0406;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10001;
    transition: all .5s;
    display: flex;
    justify-content: center;
}
.loaded{
    display: none;
    animation : fadeOut 1s;
    animation-fill-mode: both;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
.animebox{
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    object-fit: contain;
}

@media screen and (max-width:480px){
    .grid-item{
        width: 50%;
    }   
    .grid{
        margin: 0;
    }
}

